.form {
    background-color: rgb(34, 138, 208);
}

.form h1 {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    /* font-size: 500; */
    font-weight: 800;
}
.form p {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive; 
    font-size: 30px;
    text-align: center;
    color:  #3c1506;
}
.circles span {
        display: block;
        width: 20px;
        height: 20px;
    }

.circles span:nth-child(1) {
    background-color: #f15f5d;
}
.circles span:nth-child(2) {
    background-color: #febe2e;
}
.circles span:nth-child(3) {
    background-color: #4db748;
}
